*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html body{
    font-family: sans-serif;
    font-weight: 300;
    line-height: 1.4;
    scroll-behavior: smooth;
}
section {
    scroll-margin: 50px;
  }
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding: 20px 0;
}

.header{
  
   
    background-color: #270082;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  

   
}

.container {
    max-width: 1200px;
    margin: 0 auto;
  }
ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

a{
    color: white;
    text-decoration-line: none;
    
    
}
.logo{
    font-size: 32px;
    font-weight: 700px;
}

button{
    padding: 10px 15px;
    border: none;
    transition: 0.2s ease-in-out;
}
button:hover{
    transition: 0.2s ease-in-out;
    opacity: 0.8;
}

nav ul {
    display: flex;
    gap: 20px;
}

  nav ul li {
    border-bottom: 2px solid transparent;
    transition: 0.2s ease-in;
}

  nav ul li:hover {
    border-bottom: 2px solid white;
    transition: 0.2s ease-in;
}

  .hero-section {
    background-image: url(/html_toturial/images/heroo_image.png);
    height: 100vh;
    display: grid;
    color: white;
    place-items: center;
    text-align: center;

}

.hero-section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-section h1 {
    font-size: 96px;
}

  .hero-section h3 {
    font-size: 32px;
}

  .music-section{
    background-color: #281154;
    padding: 50px;
}

.music-section .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    justify-content: center;
    align-items: center;
}

.ipad-iphone-img{
    margin-top: -400px;
    position: relative;
    top: 400px;

}

.primary-btn {
    background-color: red;
    color: white;
  }
  .secondary-btn {
    background-color: purple;
    color: white;
  }

  .about-music{
    display: grid;
    place-items: center;
    padding-top: 500px ;
    gap: 50px;
    text-align: center;
    margin-bottom: 50px;


  }

  .video-section {
    background-image: url(/html_toturial/images/video.png);
    min-height: 800px;
    display: grid;
    place-items: center;
    color: white;
    text-align: center;
  }

  .video-section .container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: -200px;
  }

  .hero-section,
.video-section {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.gift-section {
    display: flex;
    justify-content: center;
    margin: 100px 0;
    gap: 50px;
  }

  .gift-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer-upper {
    background-color: rgb(77, 5, 77);
    padding: 20px;
  }

 

  .footer-upper .container {
    display: flex;
    color: white;
    justify-content: space-between;
  }
 

.footer-upper h4 {
    padding-bottom: 10px;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}

.footer-lower {
    background-color: rgb(33, 6, 58);
    padding: 20px;
    display: flex;
    justify-content: center;
    color: white;
}

.gift-section {
    scroll-margin: 120px;
}

.container .footer-links{
    display: flex;
    flex-direction: column;
    align-items: center;

    
    
}
 